.htaccess.sample
.htaccess
app/etc/config.xml
app/etc/local.xml
app/.htaccess
cron.php
cron.sh
downloader/
errors/
favicon.ico
/get.php
includes/
media/
/index.php
index.php.sample
/install.php
lib/.htaccess
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
mage/*
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
sitemap.xml
var/*
.idea/workspace.xml
.idea/magicento/
.idea/magicento.xml