<?xml version="1.0"?>
<config>
	<modules>
		<Forix_Custom>
			<version>0.1.2</version>
		</Forix_Custom>
	</modules>
    <global>
        <blocks>
            <custom>
                <class>Forix_Custom_Block</class>
            </custom>
            <!--
            <catalog>
                <rewrite>
                    <product_view_media>Forix_Custom_Block_Rewrites_Catalog_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
            -->
            <catalog>
                <rewrite>
                    <product_list>Forix_Custom_Block_Rewrites_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Forix_Custom_Block_Rewrites_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
                <rewrite>
                    <sales_order_grid>Forix_Custom_Block_Rewrites_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
                <rewrite>
                    <sales_order_view_items>Forix_Custom_Block_Rewrites_Adminhtml_Sales_Order_View_Items</sales_order_view_items>
                </rewrite>
                <rewrite>
                    <sales_order_totals>Forix_Custom_Block_Rewrites_Adminhtml_Sales_Order_Totals</sales_order_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <custom>
                <class>Forix_Custom_Helper</class>
            </custom>
        </helpers>

        <models>
            <custom>
                <class>Forix_Custom_Model</class>
                <resourceModel>custom_mysql4</resourceModel>
            </custom>
            <!--<sales>-->
                <!--<rewrite>-->
                    <!--<quote_item>Forix_Custom_Model_Rewrites_Sales_Quote_Item</quote_item>-->
                <!--</rewrite>-->
            <!--</sales>-->
            <custom_mysql4>
                <class>Forix_Custom_Model_Mysql4</class>
                <entities>
                    <retailorder>
                        <table>forix_retail_order</table>
                    </retailorder>
                </entities>
            </custom_mysql4>
        </models>

        <resources>
            <custom_setup>
                <setup>
                    <module>Forix_Custom</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </custom_setup>
            <custom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </custom_write>
            <custom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </custom_read>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <forix_custom_sales_order_observer>
                        <type>singleton</type>
                        <class>custom/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </forix_custom_sales_order_observer>
                </observers>
            </sales_order_place_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <forix_custom_convert_quote_item_to_order_item>
                        <class>custom/observer</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </forix_custom_convert_quote_item_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
        </events>
    </global>

    <adminhtml>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <forix_custom_catalog_observer>
                        <type>singleton</type>
                        <class>custom/observer</class>
                        <method>catalogProductSaveBefore</method>
                    </forix_custom_catalog_observer>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>

</config> 